@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    color: white;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
::-webkit-scrollbar-track {   
    border-radius: 10px;
}
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(58, 58, 58); 
    border-radius: 10px;
}
body , html{
    width: 100%;
    background-color: black;
    position: relative;
}
*::selection{
    background-color: rgba(255, 255, 255, 0.811);
    color: black;
}
a{
    color: white;
    text-decoration: none;
}
.bounding{
    width: fit-content;
    height: fit-content;
    /* border: 1px solid lime; */
}
.line{
    width: 100%;
    height: 1px;
    background-color: #fff;
}
.section__wrapper{
    width: 100%;
    height: 100vh;
}
#hero{
    overflow: hidden;
    position: relative;
}
.bordercircle{
    position: absolute;
    top: 100%;
    right: 0;
    transform: translate(50%,-50%);
    width: 40vw;
    height: 40vw;
    border: 1px solid white;
    border-radius: 50%;
    z-index: 0;


}
#nav{
    width: 100%;
    height: 12vh;
    padding: 2vw 1vw;
    display: flex;
    justify-content: space-between;
}
#nav_menu button{
    background-color: black;
    border: none;
    cursor: pointer;
    font-size: 1.4rem;
}
#menu_sidebar{
   position: fixed;
   top: 0;
   right: 0;
   width: 40vw;
   height: 100vh;
   display: flex;
   /* display: none; */
   align-items:center;
   background-color: black;
   border: 1px solid white;
   z-index: 1;
   padding: 5vw 2vw;
}
#sidebar_wrapper ul{
    list-style: none;
}
#sidebar_wrapper a  {
    font-size:3rem;
}
#sidebar_footer{
    font-size: 2rem;
}

#sidebar_footer{
    align-self: flex-end;
}
.nav_menuspan{
    display: inline-block;
    z-index: 99999;
}

#hero_heading_block{
    width: 100%;
    height: calc(100% - 12vh);
    display: flex;
    flex-direction: column;
    padding-top: 5vw;
    padding-left: 3vw;
    align-items: flex-start;
}
#hero_main_heading{
    font-size: 4vw;
}
#hero_sub_heading{
    position: relative;
    padding-top: 1vw;
    display: flex;
    align-items: flex-start;
}
#hero_sub_heading h3{
    margin-top: 1.2rem;
    line-height: 1;
    font-size: 2vw;
    justify-self: flex-end;
}
#hero_sub_heading i{
    font-size: 4vw;
}
@media screen and (max-width:768px) {
    #hero_heading_block{
        padding-top: 20vw;
        
    }
    #hero_sub_heading{
        width: 50vw;
        font-size: 4vw;
    }
    #hero_sub_heading i{
        font-size: 6vw;
    }
    #hero_sub_heading h3{
        font-size: 4vw;
    }
}
@media screen and (max-width:500px){
    #hero_heading_block{
        padding-top: 25vw;
    }
    #hero_main_heading{
        font-size: 5vw;
    }
    
}
@media screen and (max-width:400px){
    #hero_heading_block{
        padding-top: 40vw;
    }
}


#intro{
    position: relative;
}
.linned_heading{
    background-color: black;
    z-index:99;
}
.linned_heading h1{
    font-size: 5vw;
    height: 10%;
}

#intro_body{
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 6vw;
    text-align: center;
    font-size: 1.3vw;
}
@media screen and (max-width:768px) {
    .linned_heading h1{
        font-size: 8vw;
    }
    #intro_body{
        font-size: 2vw;
    }
}
@media screen and (max-width:500px){
    #intro_body{
        font-size: 3.5vw;
    }
}
@media screen and (max-width:400px){
    .linned_heading h1{
        font-size: 9vw;
    }
   
}

#gallery{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
#gallery img{
    width: auto;
    height: auto;
    object-fit: cover;
}
.gallery_rows{
    padding: 5vw 1%;
    display: flex;
    width: 100%;
    overflow: hidden;
   justify-content: space-evenly;

}
.gallery_row{

    overflow: hidden;
    width: 31%;
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 1rem;
}
#tryout{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#tryout_heading{
    padding: 0 3vw;
}
#tryoout_heading h1{
    font-size: 5vw;
    text-transform: uppercase;
    text-align: center;
}
#tryout_button{
    padding-top: 5vw;
}
#tryout_button button{
    padding: 2.5vw 5vw;
    background-color: black;
    border: 1px solid white;
    border-radius: 4rem;
    font-size: 1.5rem;
}
#tryout_button button:hover{
    background-color: white;
    color: black;
}
.trybutton{
    transition: all ease 0.5s;

}
#tryout_button button:hover  .trybutton{
    color: black;
    transform: rotate(45deg);
}
#footer{
    height: 30vh;
    background-color: #2b2b2b;
    display: flex;
    justify-content: space-between;
    padding: 3vw 2vw;
    border-top-left-radius: 4rem;
    border-top-right-radius: 4rem;
}
#footer p {
    font-size: 2rem;
    color: #c8c8c8;
}
@media screen and (max-width:650px){
    #footer{
        padding:5vw 3vw ;
    }
    #footer p {
        font-size: 1.5rem;
    }
}
@media screen and (max-width:500px){
    #footer{
        padding:10vw 3vw ;
    }
    #footer p {
        font-size: 1.2rem;
    }
}

